apiVersion: v1
kind: ConfigMap
metadata:
  name: locust-script
data:
  locustfile.py: |
    from locust import HttpUser, task, between
    
    class MyUser(HttpUser):
        wait_time = between(1, 3)
        
        @task
        def my_task(self):
            self.client.get("/")